.Logo {
	padding: 4px;
	width: 100%;
	box-sizing: border-box;
}

.ToggleLogo {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.Logo img {
	height: 100%;
	width: inherit;
}

@media screen and (min-width: 640px) {
	.ToggleLogo {
		display: none;
	}
}

@media screen and (max-width: 639px) {
	.Logo {
		display: none;
	}
}
