.TaskItem {
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0 10px;
	display: flex;
	align-items: center;
	box-shadow: 0 0 1px #a0a0a0;
	position: relative;
}

.project {
	margin: 5px;
	font-size: 16px;
	color: #a0a0a0;
}

.description {
	display: flex;
	position: relative;
	padding: 0 20px;
	font-size: 20px;
	text-align: start;
	width: 100%;
	height: 100%;
	overflow: hidden;
	align-items: center;
}

.details {
	flex: 0 0 auto;
	min-width: 250px;
	position: relative;
	display: inline;
	margin-left: 10px;
}

.container {
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	display: inline-flex;
}

.time {
	padding: 0 10px;
}

.date {
	padding-left: 10px;
}

.priority {
	position: relative;
	display: flex;
	flex: 0 2 auto;
	margin-left: auto;
	text-align: right;
	padding-right: 20px;
	overflow: hidden;
	width: 100%;
	min-width: 150px;
}

.optionsMenu {
	margin: 0 20px 0 0;
	justify-content: end;
}
