.TaskItem {
	width: 100%;
	height: 70px;
	margin: 0;
	display: flex;
	align-items: center;
	box-shadow: 0 0 1px #a0a0a0;
	position: relative;
	justify-content: space-between;
}

.project {
	margin: 5px;
	font-size: 16px;
	color: #a0a0a0;
}

.details {
	flex: 0 0 auto;
	min-width: 250px;
	position: relative;
	flex-direction: row;
	justify-content: flex-end;
}

.detailsContainer {
	display: flex;
	flex-flow: row;
	margin-left: auto;
	align-items: center;
}

.container {
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
	display: inline-flex;
	margin-left: auto;
}

.priority {
	margin-right: auto;
	justify-content: flex-start;
	margin-right: auto;
}

.timeControlsContainer {
	display: inline-flex;
}

.time {
	padding: 0 10px;
}

.date {
	padding-left: 10px;
}

.optionsMenu {
	margin: 0 0 0 auto;
}

@media (max-width: 640px) {
	.timeControlsContainer {
		display: none;
	}
}
